* {
    transition: .5s;
    scroll-behavior: smooth;
}


nav {
    top: 1rem;
    max-width: 1023px;
    left: 0;
    right: 0;
    position: fixed;
    padding: 5px 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ffffff2e;
    backdrop-filter: blur(80px);
    border-radius: 160px;
    margin: auto;

}

nav {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

ion-icon {
    font-size: 30px;
    color: #131128;
    margin-right: 1rem;
}

.nav-icon a {
    text-decoration: none;
    font-size: 25px;
    margin-left: 10px;
    font-weight: 7 00;
    color: #fff;
}

.nav-icon {
    flex: 1 1 0%;
    display: flex;
    align-items: center;
    text-decoration: none;
    margin: 0px;
    width: 100%;
    margin-left: 1rem;
}

.navbar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.navbar a {
    font-size: 3rem;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-top: 35px;
    transition: 0.5s;
}

.navbar a:hover {
    color: #0ef;
    position: relative;
    text-shadow: rgb(255, 255, 255) 0px 7px 29px 23px;
}

.hamburger {
    width: 50px;
    height: 50px;
    cursor: pointer;
    border: none;
    display: flex;
    background: rgba(122, 122, 122, 0);
    align-items: center;
    position: relative;
    z-index: 101;
    right: 1rem;
}

.hamburger span {
    display: block;
    width: 35px;
    height: 3px;
    right: 0.1vw;
    background: #413f3f;
    position: absolute;
    pointer-events: none;
    transition: opacity 0.3s ease-out 0.15s;
}

.hamburger .sp2 {
    width: 43px;
}

.hamburger span:nth-child(1),
.hamburger span:nth-child(3) {
    transition: transform 0.3s ease-out 0s;
}

.hamburger span:nth-child(1) {
    transform: translateY(7px);
}

.hamburger span:nth-child(3) {
    transform: translateY(-7px);
}

.hamburger.open span:nth-child(1) {
    transform: translate(0px) rotate(135deg);
}

.hamburger.open span:nth-child(2) {
    opacity: 0;
    transition: opacity 0s ease-out 0s;
}

.hamburger.open span:nth-child(3) {
    transform: translate(0px) rotate(-135deg);
}

.modal a {
    margin: 0px 10px;
    font-weight: 500;
    position: relative;
    justify-content: flex-end;
}

.modal a::after {
    content: "";
    display: block;
    position: absolute;
    bottom: -3px;
    width: 100%;
    height: 1px;
    transform: scaleX(0);
    transform-origin: left center;
    background: #0efc;
    transition: transform 0.3s ease-out 0s;
}

.modal a:hover::after {
    transform: scaleX(1);
}

.nav-authentication {
    margin-left: auto;
}

.main-navlinks {
    display: flex;
    justify-content: center;
    align-items: center;
}

.elipse1 {
    width: 200px;
    height: 200px;
    left: 55%;
    top: -113px;

}

.elipse2 {
    position: absolute;
    width: 100px;
    height: 100px;
    left: -60px;
    top: 600px;
    background: rgba(248, 156, 35, 0.67);
    filter: blur(197px);

}

header {
    width: 100%;
    margin-bottom: 2rem;
}

#sec1 {
    min-height: 100vh;
}

button {
    font-family: inherit;
    cursor: pointer;
    background: #1a1a1a;
    color: #f9f9f9;
    border: 0;
    border-radius: 8px;
    padding: 20px 36px;
    font-size: 16px;
}

@keyframes background-in {
    0% {
        scale: 0 0.005;
    }

    33% {
        scale: 1 0.005;
    }

    66%,
    100% {
        scale: 1 1;
    }
}

.modal-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    opacity: 0;
    visibility: hidden;
    transform: scale(1, 1);
    background: #00000073;
    backdrop-filter: blur(70px);
    transition: 0.5s;
}

body.open .modal-background {
    visibility: visible;
    opacity: 1;
    animation: background-in 1s both;
}

@keyframes modal-in {

    0%,
    66% {
        opacity: 0;
        visibility: hidden;
        translate: -50% -30%;
    }

    100% {
        opacity: 1;
        visibility: visible;
    }
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    background: #ffffff2e;
    color: #f9f9f9;
    padding: 48px 40px;
    width: 300px;
    border-radius: 12px;
    translate: -50% -50%;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
    box-shadow: #39393917 0px 4px 12px;
}

body.open .modal {
    opacity: 1;
    visibility: visible;
    animation: modal-in 1s;
    z-index: 100;
}

body.closed .modal {
    opacity: 0;
    visibility: hidden;
    translate: -50% -50%;
}

h2 {
    font-weight: 400;
    font-size: 21px;
}

p {
    margin: 0;
    color: #1f1d1d80;
}

.modal-background img {
    width: 45vw;
    float: left;
    margin-left: 2rem;
    filter: brightness(70%);
}

@media (max-width: 768px) {
    .modal-background img {
        width: 90vw;
        float: left;
        margin-left: 2rem;
        filter: brightness(70%);
    }
}