html,
body {
  height: 100%;
  scroll-behavior: smooth;
  transition: .5s;
}

* {

  font-family: 'Nunito', sans-serif;
}

body {
  font-family: Poppins;
  background: #ffffff;
  background-attachment: fixed;
}
